<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-heading">{{group.name}}</h3>
  </div>
  <div class="panel-body">
    <div class="well">
      <p>Description: {{group.desc}}</p>
      <h3>Channels</h3>
      <div *ngIf="channels">
        <div *ngFor="let channel of this.channels">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="row">
                <div class="col">
                  <a class="list-group-item" [routerLink]="['/channel', group.name, channel.name]"><h4>{{channel.name}}</h4></a>
                </div>
                <div class="col" *ngIf="this.user.rank == 'Super' || this.user.rank == 'Group' ">
                  <button class="btn btn-outline-secondary " type="button " (click)="deleteChannel(channel.name) ">Delete
                    Channel</button>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div *ngIf="this.user.rank == 'Super' || this.user.rank == 'Group'">
      <div class="input-group">
        <input type="text" class="form-control" type="text" name="channelname" placeholder="Add a channel" [(ngModel)]="channelname">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" (click)="addChannel(this.group.name, channelname, this.user.username)">Add
            Channel</button>
        </div>
      </div>
      <div *ngIf="this.group.name != 'General'">
        <button class="btn btn-outline-secondary" type="button" (click)="deleteGroup(group.name)">Delete Group</button>
      </div>
    </div>
  </div>
</div>