<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Welcome {{this.user.username}}</span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button *ngIf="this.user.rank === 'Super'" mat-menu-item (click)="createNewUserDialog()">
        <mat-icon>add</mat-icon>
        <span>Create new User</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>logout</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-tab-group>

  <mat-tab disabled>
    <ng-template mat-tab-label>
      <h4>Groups:</h4>
    </ng-template>
  </mat-tab>

  <mat-tab *ngFor="let group of this.groups" label={{group.name}}>
    <app-new-group [group]='group' (groupDeletionEmitter)="groupDeletionHandler($event)"></app-new-group>
  </mat-tab>

  <mat-tab *ngIf="this.user.rank === 'Super' || this.user.rank === 'Group'" disabled>
    <ng-template mat-tab-label>
      <button mat-icon-button (click)="addGroupDialog()">
        <mat-icon>add_circle</mat-icon>
      </button>
      <span>Add group</span>
    </ng-template>
  </mat-tab>
  
  <mat-tab *ngIf="this.user.rank === 'Super' || this.user.rank === 'Group'" color='alert'>
    <ng-template mat-tab-label>
      <mat-icon>settings</mat-icon>
      Admin
    </ng-template>
    <app-admin (usersUpdateEmitter)="usersUpdateHandler($event)"></app-admin>>
  </mat-tab>

</mat-tab-group>