<mat-card class='users-card'>
  <mat-card-content>
    <mat-list>
      <mat-card-subtitle>
        Users
      </mat-card-subtitle>
      <table cellpadding="10px" table-layout="fixed" >
        <tr>
          <mat-list-item *ngFor='let u of this.users'>
              <td>
                  <b>Username:</b> 
              </td>
            <td width="12.5%">
              {{u.username}}
            </td>
            <td>
                <b>Rank:</b>
            </td>
            <mat-radio-group [(ngModel)]=u.rank >
              <td width="12.5%">
                <mat-radio-button value='User' >
                  User
                </mat-radio-button>
              </td>

              <td width="12.5%">
                <mat-radio-button value='Group' >
                  Group
                </mat-radio-button>
              </td>

              <td width="12.5%">
                <mat-radio-button *ngIf="this.user.rank === 'Super'" value='Super' >
                  Super
                </mat-radio-button>
              </td>

            </mat-radio-group>

            <td>
                <b>Email:</b>
            </td>
            <td>
              <mat-form-field>
                  <input matInput [(ngModel)]="u.email">
              </mat-form-field>
          </td>

            <td>
              <mat-list-item>
                <button mat-raised-button (click)="save(u)" color="primary">Save</button>
              </mat-list-item>
            </td>

            <td>
              <mat-list-item>
                <button mat-raised-button (click)="removeUser(u._id)" color='warn'>
                    Delete
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-list-item>
            </td>

          </mat-list-item>
        </tr>

      </table>

    </mat-list>
  </mat-card-content>
</mat-card>