<div style="text-align:center">
  <h2>Users</h2>
  <ul>
    <li *ngFor="let user of users">
      <input type="text" name="username" [(ngModel)]="user.username">
      <input type="text" name="email" [(ngModel)]="user.email">
      <input type="text" name="rank" [(ngModel)]="user.rank">
      <button (click)="updateUser(user)">Save</button>
    </li>
  </ul>

  <p>
    Create new user <br>
    <input type="text" name="username" [(ngModel)]="username">
    <input type="text" name="email" [(ngModel)]="email">
    <input type="text" name="rank" [(ngModel)]="rank">
    <button (click)="addUser(username, email, rank)">Save</button>
  </p>
</div>