<div *ngIf="this.user">
  <h2>Welcome {{user.username}}</h2>
  <button (click)="logout()">Logout</button>
  <input type="text" name="email" placeholder="add an email address" [(ngModel)]="user.email">
  <button (click)="updateUser(user)">Update Email Address</button>
  
  <!-- groups -->
  <h3> Here are your groups</h3>
  <!-- <div *ngIf="groups">
    <app-group *ngFor="let group of this.groups" [group]="group">
      <button (click)="deleteGroup(group)">Delete</button>
    </app-group>
  </div> -->

  <div *ngFor="let group of this.groups">
    <h3>{{group.name}}</h3>
    <button *ngIf="this.user.rank == 'super' || this.user.rank == 'group'" (click)="deleteGroup(group)">Remove group</button>
  </div>
  
  <!-- Admin area for creating groups -->
  <div *ngIf="this.user.rank == 'super' || this.user.rank == 'group'">
    Create a new group
    <input type="text" name="groupname" placeholder="Add the group name" [(ngModel)]="groupname">
    <input type="text" name="desc" placeholder="Add a description" [(ngModel)]="desc">
    <button (click)="addGroup(groupname, desc)">Add Group</button>

  </div>
</div>



